<link rel="stylesheet" href="/styles/styles.css">
<script src="/index.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="background-overlay"></div>
<% if(locals.note){%>
  <div class="edit-note-form">
    <form action="/saveEditedNote" method="POST">
      <header class="new-note-header">
        <img src="/images/logos/goBack.png" alt="Back" class="back-button icon" onclick="window.location.href='/'">
        <!-- Hidden input for the note's ID -->
        <input type="hidden" name="id" value="<%= locals.note.id %>">
        
        <input type="text" id="title" name="title" required placeholder="Note title..." value="<%= locals.note.title %>">
        
        <button id="saveEditedNote" type="submit">Save</button>
      </header>
    
      <textarea id="content" name="content" rows="10" required placeholder="Write your note..."><%=locals.note.content%></textarea>
    </form>

    <!-- Delete button form -->
    <form id="deleteNoteForm" action="/deleteNote" method="POST" class="delete-note-form">
      <input type="hidden" name="id" value="<%= locals.note.id %>">
      <button id="deleteNote" type="submit" onclick="window.location.href='/deleteNote'">Delete</button>
    </form>
  </div>
<%} else{%>
  <form action="/save" method="POST">
    <header class="new-note-header">
      <img src="/images/logos/goBack.png" alt="Back" class="back-button icon" onclick="window.location.href='/'">
      
      <input type="text" id="title" name="title" required placeholder="Note title...">
      
      <button id="save" type="submit">Save</button>
      <button id="cancel" type="button" onclick="window.location.href='/'">Cancel</button>
    </header>
    <textarea id="content" name="content" rows="10" required placeholder="Write your note..."></textarea>
  </form>
<%}%>

