<h1>This is a test page for credits </h1>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        padding: 20px;
        
    }
    h1 {
        color: #333;
    }
    p {
        margin-bottom: 10px;
    }
    a {
        color: #007BFF;
        text-decoration: none;
        display:block;

    }
    a:hover {
        text-decoration: underline;
    }
    .credits {
        margin-top: 20px;
        padding: 10px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .credits h2 {
        margin-top: 0;
    }
    .credits ul {
        list-style-type: none;
        padding: 0;
    }
    .credits li {
        margin-bottom: 5px;
    }
</style>
<a href="https://www.flaticon.com/free-icons/edit" title="edit icons" target="_blank">Edit icons created by Kiranshastry - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/left-arrow" title="left arrow icons" target="_blank">Left arrow icons created by Arkinasi - Flaticon</a>