<link rel="stylesheet" href="/styles/styles.css">
<script src="/index.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="background-overlay"></div>
<div class="notes-header">
    <h2>Bumble Notes</h2>
</div>
<div class="notes-container">
  <% if (notes.length > 0) { %>
    <% notes.forEach(note => { %>
      <div class="note-card">
        <h3><%= note.title %></h3>
        <p><%= note.content %></p>
      </div>
    <% }) %>
  <% } else { %>
    <div class="note-card empty-note">
      <h3>No notes available</h3>
      <p>Click the button below to create a new note.</p>
    </div>
  <% } %>     
        <img src="/images/logos/edit.png" alt="Edit Icon" class="new-note-edit" onclick="window.location.href='/createNote'">
  </div>
  